canvas{
  position: absolute;
  top: 0;
  left: 0;
}

main {
  width: 100%;
  color: rgb(0, 0, 0);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding-left: 2%;
  padding-right: 2%;

  display: flexbox;
}

.menu{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(0, 0, 0);
}